@using Entity.Models.Enums
@model Entity.Models.Dtos.PerformanceInfos.SubjectPerformanceInfoDto
@{
    ViewData["Title"] = "Index";
}

@if (Model.GroupType == (int) GroupTypes.Created)
{
    <a asp-controller="Homework" asp-action="Create" asp-route-subjectSettingId="@Model.SubjectSettings.SubjectSettingId" 
       asp-route-subjectId="@Model.SubjectId" class="btn btn-sm btn-primary">Add homework</a>
}

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Student</th>
            @foreach (var setting in Model.SubjectSettings.HomeworkInfos)
            {
                <th>@setting.Number</th>
            }
            <th>Module 1</th>
            <th>Module 2</th>
            <th>Exam</th>
            <th>Total</th>
            @if (Model.GroupType == (int) GroupTypes.Active)
            {
                <th>Edit</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var performance in Model.StudentPerformances)
        {
            <tr>
                <td>@(performance.StudentSecondName + " " + performance.StudentName)</td>
                @foreach (var homework in performance.Homeworks)
                {
                    <td><a> @homework.Points </a></td>
                }
                <td>@performance.Module1Result</td>
                <td>@performance.Module2Result</td>
                <td>@performance.ExamResult</td>
                <td>@performance.TotalPoints</td>
                @if (Model.GroupType == (int) GroupTypes.Active)
                {
                    <td><a asp-action="Edit" asp-controller="Subject" asp-route-studentId="@performance.StudentId" asp-route-subjectId="@performance.SubjectId">Edit</a></td>
                }
            </tr>
        }
        </tbody>
    </table>
    
    <div>
        <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger"> Back</a>
    </div>
</div>

