@model Entity.Models.Dtos.PerformanceInfos.StudentPerformanceDto
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <h2>Edit student performance</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditSubjectPerformance" asp-controller="Subject">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Module1Result" class="control-label">Module 1 test(Max: @Model.Module1Max)</label>
                    <input asp-for="Module1Result" class="form-control" />
                    <span asp-validation-for="Module1Result"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Module2Result" class="control-label">Module 2 test(Max: @Model.Module2Max)</label>
                    <input asp-for="Module2Result" class="form-control" />
                    <span asp-validation-for="Module2Result"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExamResult" class="control-label">Exam (Max: @Model.ExamMax)</label>
                    <input asp-for="ExamResult" class="form-control" />
                    <span asp-validation-for="ExamResult"></span>
                </div>
                <div>
                    <table>
                        @for (var i = 0; i < Model.EditableHomeworks.Count(); i++)
                        {
                            <div class="form-group">
                                <label asp-for="EditableHomeworks[i].Points" class="control-label">Homework№ @Model.EditableHomeworks[i].HomeworkNumber (Max: @Model.EditableHomeworks[i].MaxPoints)</label>
                                <input asp-for="EditableHomeworks[i].Points" class="form-control" />
                                <span asp-validation-for="EditableHomeworks[i].Points"></span>
                            </div>
                        }
                    </table>
                </div>
                
                @for (var i = 0; i < Model.EditableHomeworks.Count; i++ )    
                {
                    @Html.HiddenFor(g => g.EditableHomeworks[i].HomeworkId )
                    @Html.HiddenFor(g => g.EditableHomeworks[i].HomeworkResultId )
                    @Html.HiddenFor(performance => performance.EditableHomeworks[i].MaxPoints)
                    @Html.HiddenFor(performance => performance.EditableHomeworks[i].HomeworkNumber)
                }
                @Html.HiddenFor(g=>g.StudentName)
                @Html.HiddenFor(g=>g.SubjectId)
                @Html.HiddenFor(g=>g.StudentSecondName)
                @Html.HiddenFor(g=>g.StudentId)
                @Html.HiddenFor(g=>g.TotalPoints)
                @Html.HiddenFor(g=>g.Homeworks)
                @Html.HiddenFor(g=>g.Module1Max)
                @Html.HiddenFor(g=>g.Module2Max)
                @Html.HiddenFor(g=>g.ExamMax)
                
                <div>
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger"> Back</a> 
                </div>
            </form>
            
        </div>
    </div>
</div>

