@model IEnumerable<Entity.Models.Dtos.Subject.SubjectInfoDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var number = 1;
}

<a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="SubjectInfo">Create new</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Groups learn</th>
        <th>Groups learned</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subject in Model)
    {
        <tr>
            <td>@number</td>
            <td>@subject.Title</td>
            <td>@subject.GroupLearn</td>
            <td>@subject.GroupLearned</td>
            <td><a asp-action="Edit" asp-controller="SubjectInfo" asp-route-subjectInfoDto="@subject">Edit</a></td>
            @if (subject.GroupLearn + subject.GroupLearned == 0)
            {
                <td><a asp-action="Delete" asp-controller="SubjectInfo" asp-route-subjectInfoId="@subject.Id">Delete</a></td>
            }
            else
            {
                <td>Subject in used; Imposible to delete</td>
            }
        </tr>
    }
    </tbody>
</table>
