@model Entity.Models.Dtos.GroupDto

@{
    ViewData["Title"] = "Edit";
    var studentIndex = 1;
    var subjectIndex = 1;
}

<h1>@Model.Title</h1>

<div class="m-1">
    <h3 class="m-1"> Subject <a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Subject" asp-route-groupId="@Model.Id">Add subject</a></h3>
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Module 1 test max</th>
                <th>Module 2 test max</th>
                <th>Exam max</th>
                <th>Number of homeworks</th>
                <th>Max points</th>
                <th>Add homework</th>
                <th>Edit homeworks</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.Subjects)
                {
                    <tr>
                        <td>@subjectIndex</td>
                        <td>@subject.SubjectName</td>
                        <td>@subject.Module1MaxPoints</td>
                        <td>@subject.Module2MaxPoints</td>
                        <td>@subject.ExamMaxPoints</td>
                        <td>@subject.NumberOfHomeworks</td>
                        <th>@subject.MaxPoints</th>
                        <td><a asp-action="Create" asp-controller="Homework" asp-route-subjectSettingId="@subject.SubjectSettingId" asp-route-subjectId="@subject.Id">Add homework</a></td>
                        <td><a asp-action="Edit" asp-controller="Homework" asp-route-subjectSettingId="@subject.SubjectSettingId" asp-route-subjectId="@subject.Id">Edit homeworks</a></td>
                        <td><a asp-action="EditSubject" asp-controller="Subject" asp-route-subjectId="@subject.Id">Edit</a></td>
                        <td><a asp-action="Delete" asp-controller="Subject" asp-route-id="@subject.Id" asp-route-groupId="@Model.Id">Delete</a></td>
                    </tr>
                    subjectIndex++;
                }
            </tbody>
        </table>
</div>

<div>
    <h3 class="m-1"> Students <a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Student" asp-route-groupId="@Model.Id">Add student</a> </h3>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>SecondName</th>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        <tr></tr>
        </thead>
        <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@studentIndex</td>
                <td>@student.SecondName</td>
                <td>@student.Name</td>
                <td> <a asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id" asp-route-groupId="@student.GroupId"></a> </td>
            </tr>
            studentIndex++;
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Save" asp-controller="Group" asp-route-groupId="@Model.Id">Submit</a>
    <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger"> Back</a> 
</div>

