@using Entity.Models.Enums
@model IList<Entity.Models.Dtos.GroupDto>

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Group</th>
            <th>CreatedAt</th>
            <th>DeactivatedAt</th>
            <th>Details</th>
            <th>Dectivate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td> @index </td>
                <td> @group.Title </td>
                <td> @group.CreatedAt?.Date.ToString("d")</td>
                <td> @group.DeactivatedAt?.Date.ToString("d") </td>
                @if (group.Type == (int) GroupTypes.Created)
                {
                    <td><a asp-controller="Group" asp-action="Edit" asp-route-groupId="@group.Id">Edit</a></td>
                }
                else
                {
                    <td><a asp-controller="Group" asp-action="Details" asp-route-id="@group.Id">Details</a></td>
                }
                @if (group.Type == (int) GroupTypes.Active)
                {
                    <td><a asp-action="Deactivate" asp-controller="Group" asp-route-id="@group.Id" 
                           onclick="return confirm('Are you sure want to delete group : @group.Title ')">Deactivate</a></td>
                }
                else if(group.Type == (int) GroupTypes.Created)
                {
                    <td><a asp-action="Delete" asp-controller="Group" asp-route-groupId="@group.Id" 
                           onclick="return confirm('Are you sure want to deactivate group : @group.Title ')">Delete</a></td>
                }
                else
                {
                    <td>Deactivated</td>
                }
            </tr>
            index++;
        }
        </tbody>
    </table>
    <a asp-controller="Group" asp-action="Create" class="btn btn-primary">Create new group</a>
</div>

